* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* Background image */
    background-image: url('/../images/background-js-application.jpg');
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    /* Font */
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

div.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

header {
    background-color: #F5ECE1;
    padding: 50px;
}

div.box {
    /* Glassmorphism around p tags */
    width: 50%;
    margin: 100px auto;
    border: 1px solid white;
    border-radius: 2rem;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
}

footer {
    background-color: #F5ECE1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
}

h1.center,
p.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    line-height: 3rem;
    letter-spacing: 1px;
}

/* Nödvändig? */
div.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}